<div class="yamm-content">
  <div class="">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a class="" aria-expanded="true" href="#parents_login" data-toggle="collapse"
                                     data-hover="dropdown" data-parent="#accordion">
            Test
            <em class="far fa-angle-down"></em></a>
          </h4>
        </div>
        <div class="panel-collapse collapse in" id="parents_login" aria-expanded="true" style="">
          <div class="panel-body">
            <ul>
              <li>
                <a href="/parents/transactions/">Statements, Transactions &amp;
                  Fees <em class="far fa-angle-right"></em>
                </a>
              </li>
              <li>
                <a href="#">
                  Update Demographic / Medical Details <em class="far fa-angle-right"></em>
                </a>
              </li>
              <li>
                <a href="/parents/newsletters/16/">
                  Newsletter <em class="far fa-angle-right"></em>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a class="collapsed" aria-expanded="false"
                                     href="https://www.sydgram.nsw.edu.au/news-events/college-street-diary-month"
                                     target="_blank" data-parent="#accordion">Calendar
            <em class="far fa-angle-down"></em></a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="calendar" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <ul>
              <li><a href="#">Third Tier Example
                <em class="far fa-angle-right"></em></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>