{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {% if print %}
    <link rel="stylesheet" href="{% static 'css/weasyprint.css' %}">
  {% endif %}
</head>
<body>
{#<div class="myfixed"></div>#}
{#<div class="my_title">#}
{#  <span style="font-size: 28px; color: green">green header</span>#}
{#</div>#}
{#<div style="page-break-after: always;"></div>#}
<h1>Etiam iaculis nunc ac metus</h1>
<h2>Etiam iaculis nunc ac metus</h2>
<p>Etiam iaculis nunc ac metus. Ut varius tincidunt libero. Fusce ac felis sit amet ligula pharetra condimentum. Donec
  mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam cursus lacinia erat.
  Sed aliquam ultrices mauris. Ut id nisl quis enim dignissim sagittis. Praesent egestas tristique nibh. Nulla sit
  amet est. Vestibulum dapibus nunc ac augue.
  Phasellus nec sem in justo pellentesque facilisis. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.
  Etiam imperdiet imperdiet orci. Phasellus magna. Suspendisse non nisl sit amet velit hendrerit rutrum.
  Phasellus blandit leo ut odio. Nullam sagittis. Pellentesque ut neque. In dui magna, posuere eget, vestibulum et,
  tempor auctor, justo. Nulla porta dolor.</p>

<p>Etiam iaculis nunc ac metus. Ut varius tincidunt libero. Fusce ac felis sit amet ligula pharetra condimentum. Donec
  mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam cursus lacinia erat.
  Sed aliquam ultrices mauris. Ut id nisl quis enim dignissim sagittis. Praesent egestas tristique nibh. Nulla sit
  amet est. Vestibulum dapibus nunc ac augue.
  Phasellus nec sem in justo pellentesque facilisis. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.
  Etiam imperdiet imperdiet orci. Phasellus magna. Suspendisse non nisl sit amet velit hendrerit rutrum.
  Phasellus blandit leo ut odio. Nullam sagittis. Pellentesque ut neque. In dui magna, posuere eget, vestibulum et,
  tempor auctor, justo. Nulla porta dolor.</p>

<p>Etiam iaculis nunc ac metus. Ut varius tincidunt libero. Fusce ac felis sit amet ligula pharetra condimentum. Donec
  mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam cursus lacinia erat.
  Sed aliquam ultrices mauris. Ut id nisl quis enim dignissim sagittis. Praesent egestas tristique nibh. Nulla sit
  amet est. Vestibulum dapibus nunc ac augue.
  Phasellus nec sem in justo pellentesque facilisis. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.
  Etiam imperdiet imperdiet orci. Phasellus magna. Suspendisse non nisl sit amet velit hendrerit rutrum.
  Phasellus blandit leo ut odio. Nullam sagittis. Pellentesque ut neque. In dui magna, posuere eget, vestibulum et,
  tempor auctor, justo. Nulla porta dolor.</p>

<p>Etiam iaculis nunc ac metus. Ut varius tincidunt libero. Fusce ac felis sit amet ligula pharetra condimentum. Donec
  mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam cursus lacinia erat.
  Sed aliquam ultrices mauris. Ut id nisl quis enim dignissim sagittis. Praesent egestas tristique nibh. Nulla sit
  amet est. Vestibulum dapibus nunc ac augue.
  Phasellus nec sem in justo pellentesque facilisis. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.
  Etiam imperdiet imperdiet orci. Phasellus magna. Suspendisse non nisl sit amet velit hendrerit rutrum.
  Phasellus blandit leo ut odio. Nullam sagittis. Pellentesque ut neque. In dui magna, posuere eget, vestibulum et,
  tempor auctor, justo. Nulla porta dolor.</p>

<p>Etiam iaculis nunc ac metus. Ut varius tincidunt libero. Fusce ac felis sit amet ligula pharetra condimentum. Donec
  mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam cursus lacinia erat.
  Sed aliquam ultrices mauris. Ut id nisl quis enim dignissim sagittis. Praesent egestas tristique nibh. Nulla sit
  amet est. Vestibulum dapibus nunc ac augue.
  Phasellus nec sem in justo pellentesque facilisis. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.
  Etiam imperdiet imperdiet orci. Phasellus magna. Suspendisse non nisl sit amet velit hendrerit rutrum.
  Phasellus blandit leo ut odio. Nullam sagittis. Pellentesque ut neque. In dui magna, posuere eget, vestibulum et,
  tempor auctor, justo. Nulla porta dolor.</p>

<p>Etiam iaculis nunc ac metus. Ut varius tincidunt libero. Fusce ac felis sit amet ligula pharetra condimentum. Donec
  mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam cursus lacinia erat.
  Sed aliquam ultrices mauris. Ut id nisl quis enim dignissim sagittis. Praesent egestas tristique nibh. Nulla sit
  amet est. Vestibulum dapibus nunc ac augue.
  Phasellus nec sem in justo pellentesque facilisis. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.
  Etiam imperdiet imperdiet orci. Phasellus magna. Suspendisse non nisl sit amet velit hendrerit rutrum.
  Phasellus blandit leo ut odio. Nullam sagittis. Pellentesque ut neque. In dui magna, posuere eget, vestibulum et,
  tempor auctor, justo. Nulla porta dolor.</p>

<p>Etiam iaculis nunc ac metus. Ut varius tincidunt libero. Fusce ac felis sit amet ligula pharetra condimentum. Donec
  mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam cursus lacinia erat.
  Sed aliquam ultrices mauris. Ut id nisl quis enim dignissim sagittis. Praesent egestas tristique nibh. Nulla sit
  amet est. Vestibulum dapibus nunc ac augue.
  Phasellus nec sem in justo pellentesque facilisis. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.
  Etiam imperdiet imperdiet orci. Phasellus magna. Suspendisse non nisl sit amet velit hendrerit rutrum.
  Phasellus blandit leo ut odio. Nullam sagittis. Pellentesque ut neque. In dui magna, posuere eget, vestibulum et,
  tempor auctor, justo. Nulla porta dolor.</p>

<p>Etiam iaculis nunc ac metus. Ut varius tincidunt libero. Fusce ac felis sit amet ligula pharetra condimentum. Donec
  mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam cursus lacinia erat.
  Sed aliquam ultrices mauris. Ut id nisl quis enim dignissim sagittis. Praesent egestas tristique nibh. Nulla sit
  amet est. Vestibulum dapibus nunc ac augue.
  Phasellus nec sem in justo pellentesque facilisis. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.
  Etiam imperdiet imperdiet orci. Phasellus magna. Suspendisse non nisl sit amet velit hendrerit rutrum.
  Phasellus blandit leo ut odio. Nullam sagittis. Pellentesque ut neque. In dui magna, posuere eget, vestibulum et,
  tempor auctor, justo. Nulla porta dolor.</p>

<p>Lorem ipsum...</p>

<p>Lorem ipsum...</p>

<p>Lorem ipsum...</p>

<p style="break-after: always;"></p>

<p>Lorem ipsum...</p>
</body>
</html>