syntax: glob
*.pyc
*.pyo
*.db
.DS_Store
.idea
.coverage
local_settings.py
local.py
ghostdriver.log
.idea/
.idea/*
workspace.xml
weather.xml
.idea/dataSources.ids
.idea/homespun.iml
.idea/workspace.xml
logs/gunicorn_supervisor.log
logs/nginx-access.log
logs/nginx-error.log
/media/documents
media/
syntax: regexp
^static
^.idea
^.idea/workspace.xml
^.idea/homespun.iml
^media
node_modules/*
^node_modules
^dist
dist/*
^data
^movieclassifier
movieclassifier/*
movie_data.csv
db.sqlite3
*.sqlite3
*.cfg